body {margin: 0; padding: 0;}

#menubar {width: 198px;height: 100%;background: #333;}

#top {height: 106px; background: #fff;border-bottom: 5px solid #333;}
#header

#search
#popular
#submenu

#container
#content
#news
#zametko

#footer